body{
    background: linear-gradient(290deg, #a34ca6 0%, #7742b9 50%, #643ec2 100%) !important;
    overflow: hidden;
}
.mountain{
    position: absolute;
    width: 870px;
    right: 420px;
    bottom: 10px;
}
.island{
    position: absolute;
    z-index: 13;
    right: -100px;
    bottom: 8px;
    width: 450px;
}
@keyframes shipMove{
    100% {
        transform: translate(2000px,10px);
    }
}
.shipWrapper{
    position: absolute;
    z-index: 9;
    left: -400px;
    bottom: 20px;
    animation: shipMove 20s infinite linear;
}
@keyframes shipBob{
    50%{
        transform: rotate(4deg) translateY(6px);
    }

}
.ship{
    width: 400px;
    transform: rotate(4deg);
    animation: shipBob 0.9375s infinite linear;
}
@keyframes waveAnimation{
    0%{
        transform: translateX(0) scaleY(1);
    }
    50%{
        transform: translateX(25%) scaleY(0.625);
    }
    100%{
        transform: translateX(0) scaleY(1);
    }
}

.wave{
    position: absolute;
    width: 100%;
    height: 80px;
    transform-origin: 0 100%;
}
.wave1{
    z-index: 6;
    left: -140px;
    bottom: 12px;
    animation: waveAnimation 11.25s infinite linear;
}
.wave2{
    z-index: 7;
    left: -180px;
    bottom: 5px;
    animation: waveAnimation 7.5s infinite linear;
}
.wave3{
    z-index: 10;
    left: -310px;
    bottom: 0px;
    animation: waveAnimation 3.75s infinite linear;
}
.waveStatic1{
    bottom: 10px;
    /* z-index: 15; */
}
.waveStatic2{
    bottom: 0px;
    /* z-index: 15; */
}